header{
  background-color: #060685;
  color: #eeeeee;
  padding: 20px 0px;
  margin-bottom: 30px
}

header h5 {
  font-weight: 600;
  font-size: 2rem;
}

.book {
  margin-top: 40px
}

.listBox {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 11px;
  padding: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
.noList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  background: #F8F8F8;
  border: 1px dashed #C9C9C9;
  box-sizing: border-box;
  border-radius: 11px;
}

.noList p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
} 

a {
  color: #000;
}
a:hover{
  text-decoration: none;
}

.btn-create-new-book {
  background-color: #060685;
  color: #f5efef;
}

.btn-create-new-book:hover {
  color: white;
}

.edit-book, .btn-delete {
  float: right;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.edit-book {
  color: rgb(11, 138, 11);
}

.btn-delete {
  color: rgb(204, 12, 12);
}

.btn-save-book {
  background-color: rgb(21, 184, 21);
  color: white;
}

.btn-cancel-book {
  background-color: rgb(204, 12, 12);
  color: white;
}
